<angular-popper *ngIf="acpCom" target="body" placement="top" modifiers="modifiers">
  <p>
    <span>Commande accepte ! <i color="green" class="far fa-check-circle text-primary"></i></span>
  </p>
</angular-popper>

<angular-popper  *ngIf="refCom" target="body" placement="top" modifiers="modifiers">
    <span class=text-danger>Commande refuse ! <i class="fas fa-times text-danger"></i></span>
    <p class=text-danger>
      Motif : {{ refmotif }}
    </p>
</angular-popper>

<div class="s130" *ngIf="!produit_set">
    <form (ngSubmit)="search()">
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </div>
            <span class="text-danger" *ngIf="search_error != '' ">{{ search_error }}</span>
            <input id="search" type="text" placeholder="Que cherchez vous ?" name="query" [(ngModel)]="query"/>
          </div>
          <div class="input-field second-wrap">
            <button class="btn-search" type="submit">SEARCH</button>
          </div>
        </div>
        <span class="info">ex. Paracetamol, Doliprane, Efferalgan, Kardegic, spasfon, Gaviscon, Eludril, piascledine, helicidine, lysopaine ...</span>

        <p id="rotate" *ngIf="sch">
                <svg version="1.1" id="L3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
      <circle fill="none" stroke="#fff" stroke-width="4" cx="50" cy="50" r="44" style="opacity:0.5;"/>
        <circle fill="#fff" stroke="#00ad5f" stroke-width="3" cx="8" cy="54" r="6" >
          <animateTransform
            attributeName="transform"
            dur="2s"
            type="rotate"
            from="0 50 48"
            to="360 50 52"
            repeatCount="indefinite" />
          
        </circle>
      </svg>
        </p>


        <p class="millions text-success">
          Cherhez et commande vos medicaments a la pharmcie la plus proche de chez vous !
        </p>

    </form>
</div>


<mat-card *ngIf="produit_set">
  <mat-card-title>Nom du produit :{{ produit.nom }}</mat-card-title>
  <mat-card-subtitle>
    <mat-card>
      Nom de la pharmacie :{{ produit.pharmacie_name }}
    </mat-card>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-card>
      Quantite :{{ produit.quantite }}
    </mat-card>
  </mat-card-content>
  <mat-card-footer>
    <mat-card>
          <mat-card>
            Prix unitaire : {{ produit.prix_unit }} FCFA .
            <mat-card-content>
              <mat-form-field class="example-full-width">
                <mat-label>Quantite</mat-label>
                <input matInput placeholder="1" value="1" type="number"  [(ngModel)]="quantite" name="quantite">
              </mat-form-field>
            <mat-card-action>
            <button (click)="commande()" class="btn btn-primary">Commande</button>
            </mat-card-action>  
            </mat-card-content> 
          </mat-card>
    </mat-card>
  </mat-card-footer>
</mat-card>

<mat-card *ngIf="produit_set">
  <mat-card-title>
    Trajet
  </mat-card-title>
  <select name="travelMode" [(ngModel)]="travelModel">
    <option value="DRIVING">Voiture</option>
    <option value="WALKING">Marche</option>
  </select>
</mat-card>


<agm-map [latitude]="lat" [longitude]="lon" *ngIf="produit_set">

  <agm-direction 
    [origin]="origin" 
    [destination]="destination"

    [provideRouteAlternatives]="routealternative"
    [travelMode]="travelModel"
    [renderOptions]="renderOptions" 
    [markerOptions]="markerOptions"
  >
  </agm-direction>
</agm-map>

  <!-- This templates was made by Colorlib (https://colorlib.com) -->
